#code {
    width: 50%;
    border: solid white;
    padding: 1;
}

#right {
    width: 50%;
}

#registers, #variables {
    border: solid white;
    padding: 1;
}

#memory {
    height: 50%;
    border: solid white;
    padding: 1;
}